---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Estebanbss - FrontEnd, Backend, Angular, Typescript, C#">
	<main class="px-5">
          <div class="md:min-w-[760px] xl:min-w-[1120px] flex ">
               <div class="w-full mr-auto py-12 md:py-24 flex flex-col gap-2">
                    <h1 class="text-2xl md:text-4xl font-bold">Hey, Im Esteban 🌱</h1>
                    <h2 class="font-light text-base md:text-lg">Full stack developer with expertise in UX/UI, design, and optimizing performance.</h2>
               </div>
          </div>


	</main>
</Layout>