---
import ProjectComponent from './ProjectComponent.astro';
import { Icon } from 'astro-icon/components';
import { projects } from '../data/projects';
import type { Project } from '../types/project';
import TitleComponent from './TitleComponent.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div  id="projects" class="w-full flex flex-col gap-2 mb-10 sm:my-10 ">

     <TitleComponent title={t("p.sectionTitle")} icon="ph:code-bold" />
     
     <div class="grid md:grid-cols-2 gap-4 md:gap-3 justify-center min-w-full items-center">
     {
          projects.map((project: Project, index:number) => (

               <ProjectComponent data={project} index={index} />
     
          ))
     }
     {
          projects.length > 6 
          ? 
          <div></div>
          <div class="flex flex-row justify-center w-full dark:text-white text-[#1F2937] gap-2">
          <button class="previous bg-white drop-shadow-xl  backdrop-blur-xl bg-opacity-50 w-[50%] flex justify-center p-1 border dark:border-neutral-800 border-neutral-400 rounded-lg select-none"
          >Previous</button>
               
          <button class="next bg-white drop-shadow-xl  backdrop-blur-xl bg-opacity-50 w-[50%] flex justify-center p-1 border dark:border-neutral-800 border-neutral-400 rounded-lg select-none"
          >Next</button>    
          </div> 
          : null
     }
     </div>
</div>

<script async>
     
     const projects = document.querySelectorAll('.project');
     const next = document.querySelector('.next');
     const previous = document.querySelector('.previous');
     let index = 0;

     function chekingButtons(){
          if(index == 0){
               previous?.classList.add('disabled');
               previous?.classList.add('opacity-50');
               previous?.classList.add('cursor-default');
          }else{
               previous?.classList.remove('disabled');
               previous?.classList.remove('opacity-50');
               previous?.classList.remove('cursor-default');
          }
          if(index >= projects.length - 6){
               next?.classList.add('disabled');
               next?.classList.add('opacity-50');
               next?.classList.add('cursor-default');
          }else{
               next?.classList.remove('disabled');
               next?.classList.remove('opacity-50');
               next?.classList.remove('cursor-default');
          }
     }
     chekingButtons();
     next?.addEventListener('click', () => {
          console.log(index)
          if(index < projects.length - 6){
               index++;
               projects.forEach((project, i) => {
                    if(i >= index && i < index + 6){
                         project.style.display = 'block';
                    }else{
                         project.style.display = 'none';
                    }
               });
          }
          chekingButtons();
     });

     previous?.addEventListener('click', () => {
          if(index > 0){
               index--;
               projects.forEach((project, i) => {
                    if(i >= index && i < index + 6){
                         project.style.display = 'block';
                    }else{
                         project.style.display = 'none';
                    }
               });
          }
          chekingButtons();
     });

     projects.forEach((project, i) => {
          if(i >= index && i < index + 6){
               project.style.display = 'block';
          }else{
               project.style.display = 'none';
          }
     });
 </script>