---
import ProjectComponent from './ProjectComponent.astro';
import { projects } from '../data/projects';
import type { Project } from '../types/project';
import TitleComponent from './TitleComponent.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div  id="projects" class="w-full flex min-h-[670px] md:min-h-[357px] flex-col gap-2 mb-10 sm:my-10 ">

     <TitleComponent title={t("p.sectionTitle")} icon="ph:code-bold" />
     
     <div class="grid md:grid-cols-2 gap-4 md:gap-3 justify-center min-w-full items-center">
     {
          projects.map((project: Project, index:number) => (

               <ProjectComponent data={project} index={index} />
     
          ))
     }
     {
          projects.length > 6 
          ? 
          <div></div>
          <div class="flex flex-row justify-center w-full dark:text-white text-[#1F2937] gap-2">
          <button class="previous bg-white drop-shadow-xl  backdrop-blur-xl bg-opacity-50 w-[50%] flex justify-center p-1 border dark:border-neutral-800 border-neutral-400 rounded-lg select-none"
          >Previous</button>
               
          <button class="next bg-white drop-shadow-xl  backdrop-blur-xl bg-opacity-50 w-[50%] flex justify-center p-1 border dark:border-neutral-800 border-neutral-400 rounded-lg select-none"
          >Next</button>    
          </div> 
          : null
     }
     </div>
</div>

<script is:inline>
    const projects = document.querySelectorAll('.project');
    const next = document.querySelector('.next');
    const previous = document.querySelector('.previous');
    let index = 0;

    function updateButtons() {
        previous?.classList?.toggle('disabled', index === 0);
        previous?.classList?.toggle('opacity-50', index === 0);
        previous?.classList?.toggle('cursor-default', index === 0);

        next?.classList?.toggle('disabled', index >= projects.length - 6);
        next?.classList?.toggle('opacity-50', index >= projects.length - 6);
        next?.classList?.toggle('cursor-default', index >= projects.length - 6);
    }

    function updateProjects() {
        projects.forEach((project, i) => {
            project.style.display = (i >= index && i < index + 6) ? 'block' : 'none';
        });
    }

    function nextHandler() {
        if (index < projects.length - 6) {
            index++;
            updateProjects();
            updateButtons();
        }
    }

    function previousHandler() {
        if (index > 0) {
            index--;
            updateProjects();
            updateButtons();
        }
    }

    next?.addEventListener('click', nextHandler);
    previous?.addEventListener('click', previousHandler);

    updateProjects();
    updateButtons();
</script>
