---
import { Icon } from "astro-icon/components"
---

<button aria-label="buttonTheme" class=" min-w-[48px] sm:min-w-[32px] aspect-square flex justify-center items-center rounded-lg  hover:bg-black hover:bg-opacity-5 hover:dark:bg-white hover:dark:bg-opacity-5 group" id=themeButton>
                    <Icon id=IconThemeSun name="ph:sun" class="text-2xl dark:text-white text-[#1F2937] opacity-60 hover:opacity-100 duration-500 group-hover:-rotate-12"/>
                    <Icon id=IconThemeMoon name="ph:moon" class="text-2xl dark:text-white text-[#1F2937] opacity-60 hover:opacity-100 duration-500 group-hover:-rotate-12"/>
</button>

<script is:inline>
  let remove = null
  const THEMES = ["light", "dark"];
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)")
  const themeButton = document.getElementById('themeButton');
  const iconThemeSun = document.getElementById('IconThemeSun');
  const iconThemeMoon = document.getElementById('IconThemeMoon');
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined") {
      return localStorage.getItem("theme") ?? "system"
    }

    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }

  const updateIcon = (themePreference) => {
    if (themePreference === "dark") {
        iconThemeSun.style.display = 'none';
        iconThemeMoon.style.display = 'block';

            handleDarkAstroIcons();

    } else {
        iconThemeSun.style.display = 'block';
        iconThemeMoon.style.display = 'none';

          handleLightAstroIcons();
    }
}

  
  const handleLightAstroIcons = () => {
     const elementosIcon1 = document.querySelectorAll('[data-icon="vscode-icons:file-type-astro"]');
     const elementosIcon2 = document.querySelectorAll('#iconToLight');
     
     elementosIcon1.forEach(element => {
          element.style.display = 'none';
     });
     elementosIcon2.forEach(element => {
          element.style.display = 'block';
     });
  }

const handleDarkAstroIcons = () => {
      const elementosIcon1 = document.querySelectorAll('#iconToDark');
      const elementosIcon2 = document.querySelectorAll('#iconToLight');
      
      elementosIcon1.forEach(element => {
               element.style.display = 'block';
      });
      elementosIcon2.forEach(element => {
               element.style.display = 'none';
      });
}

  const updateTheme = () => {
    if (remove != null) {
        remove()
    }
    matchMedia.addEventListener("change", updateTheme)
    remove = () => {
        matchMedia.removeEventListener("change", updateTheme)
    }

    const themePreference = getThemePreference().toLowerCase();
    const isDark =
        themePreference === "dark" ||
        (themePreference === "system" && matchMedia.matches)

    document.documentElement.classList[isDark ? "add" : "remove"]("dark")
    

    updateIcon(themePreference)
}

updateTheme()

  themeButton.addEventListener("click", () => {
    const themePreference = getThemePreference().toLowerCase(); // 
    const newTheme = THEMES[(THEMES.indexOf(themePreference) + 1) % THEMES.length];
    localStorage.setItem("theme", newTheme);
    updateTheme();
});

document.addEventListener("DOMContentLoaded", function() {
  updateTheme();
});

</script>