---
import Layout from "../../layouts/Layout.astro";
import ProjectsSection from "../../components/ProjectsSection.astro";
import ExperienceSection from "../../components/ExperienceSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
    return ["en", "fr", "es"].map(lang => ({ params: { lang } }));
}

console.log(lang);
---

<Layout lang={lang} title={t("site.title")}>
     <main class="flex justify-center max-w-[95%] min-w-[95%]">
          <div
               class="md:min-w-[760px] xl:min-w-[1150px] sm:max-w-[1150px] flex flex-col max-w-full"
          >
               <div
                    id="heading"
                    class="w-full sm:max-w-[99%] max-w-full sm:mr-auto py-24 flex flex-col gap-2 dark:text-white text-[#1F2937] overflow-hidden px-1"
               >
                    <h1
                         class="text-3xl min-h-[37px] sm:min-h-[50px] min-w-fit sm:min-w-[558px] sm:max-w-[430px] md:text-5xl font-extrabold z-30"
                    >
                         {t("hi.title")}
                    </h1>
                    <p
                         class="font-light text-base md:text-lg dark:[&>strong]:text-lime-500 [&>strong]:text-lime-600 [&>strong]:font-black min-w-fit min-h-[30px]"
                    >
                         {t("h2.first")}
                         <strong class=""
                              >{t("UxUi")}</strong
                         >
                         {t("h2.second")}
                    </p>
                    <a
                         href={t("link.cv")}
                         target="_blank"
                         class="rounded-full border w-fit p-1 px-4 bg-white z-40 bg-opacity-50 hover:bg-black hover:bg-opacity-10 cursor-pointer"
                         >{t("download.cv")}</a
                    >
               </div>
               <ProjectsSection />
               <ExperienceSection />
               <AboutSection />
          </div>
     </main>
</Layout>
