---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/dosis';

interface Props {
	title: string;
     lang: string;
}

const { title, lang } = Astro.props;


---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link media="all" rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
     
	<body class="dark:bg-neutral-900 bg-white ">
          <div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
          bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
          dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(23,30,23,1),rgba(23,23,23,1))]"></div>
          <Header/>
          <x-filter class="filter dark:opacity-20 opacity-50"></x-filter>
          <slot />
          <Footer/>
	</body>
</html>

<style media="all" is:global>

:root{
     color-scheme: light dark;

}

html{
     font-family: 'Dosis Variable', sans-serif;
     scroll-behavior: smooth;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.filter{
          position: fixed;
          pointer-events:none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          min-height:100%;
          background: url(https://grainy-gradients.vercel.app/noise.svg)
}
 /* Ahora hacemos un scroll sin background ni nada y que sea redondito y thin */
 ::-webkit-scrollbar-corner { background: none; }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #909596;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #757a7b;
}
</style>
